
.back{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(180deg,#9fe9ff,#dbffa0);
    padding: 10px;
}


.jersey-25-charted-regular {
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#name {
    font-size: 50px;
    color: rgb(255, 180, 20);
    text-align: center;
    margin-top: 20px;
}

