body { text-align: center; }
        
#endScreen { display: none; }

#mainContainer{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(180deg,#9fe9ff,#dbffa0);
    padding: 30px;
    display: block;
    border-radius: 100px;
    margin: 10px;
}


#jersey-25-charted-regular {
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#name {
    font-size: 80px;
    color: rgb(255, 180, 20);
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgb(71, 10, 20);
}



#score {
    font-size: 30px;
    color: hsl(202, 100%, 22%);
    margin-top: 10px;
    /* margin-left: 20px; */
    text-align: left;
    display: none;
}

#scoreValue{
    position: relative;
    font-size: 50px;
    top: 5px;
    color: rgb(8, 129, 199);

    margin-left: 20px;
    text-align: left;
    display: inline-block;
    text-shadow: 1px 1px 1px rgb(71, 10, 20);
}

#lives {
    font-size: 30px;
    color: hsl(202, 100%, 22%);

    margin-left: 100px;
    text-align: left;
    display: none;
}

#livesCount {
    position: relative;
    top: 5px;
    font-size: 50px;
    color: rgb(35, 216, 35);

    margin-left: 20px;
    text-align: left;
    display: inline-block;
    text-shadow: 1px 1px 1px #3b3b06;
}

#startGameButton{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    transition:cubic-bezier();
    transition-duration: 200ms;
    border-radius: 10px;
    position: relative;
}

#startGameButton:hover{
    background-color: #09db68; /* Green */
    scale: 140%;
}

#gameCanvas {
    position: relative;
    top: 50%;
    width: 90%;
    padding: 0;
    border: 0cm;
    margin: 0 auto;
    background: linear-gradient(180deg,#9fe9ff,#dbffa0);
    display: inline-block;
  }

#description {
    width: a;
    font-size: 40px;
    color: #f0c082;
    text-align: center;
    margin-top: 80px;
    text-shadow: 1px 1px 1px hwb(350 10% 55%);
    background: linear-gradient(30deg,#4b8b209c,#2d74a3a9);
    padding: 30px;
    border-radius: 100px;
    display: inline-flex;
    
}

#endScreenDiv {
    display: none;
}
